@media screen and (max-width: 1100px) {
  .main-nosotros section div .main-imagen-parrafo {
    flex-direction: column;
  }

  .main-servicios section .tarjetas-servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
    row-gap: 200px;
  }
}

@media screen and (max-width: 1000px) {
  main .productos .tarjetas-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 250px 250px 250px;
    justify-items: center;
    margin-bottom: 50px;
  }

  main .buscador .navbar .container-fluid .d-flex .form-control {
    width: 600px;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 250px;
  }

  .main-nosotros .ofrecemos h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 950px) {
  .main-nosotros .mision-vision-valores {
    flex-direction: column;
  }

  .main-servicios section .titulo div p {
    font-size: 25px;
  }

  footer .venta-telefonica {
    width: 170px;
    height: 110px;
  }

  footer .atencion-al-cliente {
    width: 170px;
    height: 110px;
  }
}

@media screen and (max-width: 850px) {
  main .container-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  main .buscador .navbar .container-fluid .d-flex .form-control {
    width: 400px;
  }

  main .hero div .carousel-inner .carousel-item .img {
    height: 60vh;
  }
}

@media screen and (max-width: 750px) {
  .main-nosotros section div .main-imagen-parrafo img {
    width: 450px;
    height: 350px;
  }

  main .hero .carousel-inner .carousel-item .img {
    height: 60vh;
  }
}

@media screen and (max-width: 650px) {
  .main-servicios section .tarjetas-servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px);
  }

  .main-servicios section .titulo div p {
    font-size: 20px;
  }

  main .hero div .carousel-inner .carousel-item .img {
    height: 50vh;
  }
}

@media screen and (max-width: 570px) {
  main .productos .tarjetas-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  main .buscador .navbar .container-fluid .d-flex .form-control {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  main .formulario h1 {
    font-size: 30px;
  }

  main .formulario .contenedor .input-contenedor input {
    font-size: 15px;
  }

  main .formulario {
    width: 300px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px;
  }

  main .productos .tarjetas-productos div a img {
    width: 200px;
    height: 100px;
  }

  main .productos .tarjetas-productos div {
    width: 210px;
    height: 150px;
  }

  main .productos .productos-titulo h2 {
    font-size: 30px;
  }

  .main-nosotros section div .main-imagen-parrafo img {
    width: 350px;
    height: 250px;
  }

  main .hero div .carousel-inner .carousel-item .img {
    height: 50vh;
  }
}

@media screen and (max-width: 450px) {
  main .container-form form .nombre-email-telefono input {
    width: 300px;
  }

  main .container-form form .nombre-email-telefono .nombre input {
    width: 300px;
  }

  main .container-form form .nombre-email-telefono .email input {
    width: 300px;
  }

  main .container-form form .nombre-email-telefono .telefono input {
    width: 300px;
  }

  main .container-form form .mensaje textarea {
    width: 300px;
  }

  main .container-form .contacto h2 {
    text-align: center;
  }

  .main-servicios section .titulo div p {
    font-size: 15px;
  }

  main .hero div .carousel-inner .carousel-item .img {
    height: 30vh;
  }
}

@media screen and (max-width: 380px) {
  main .productos .productos-titulo h2 {
    font-size: 20px;
  }

  .main-nosotros section div .main-imagen-parrafo img {
    width: 300px;
    height: 200px;
  }
}
